#pragma once

#define PROJECT_NAME "@PROJECT_NAME@"
#define PROJECT_VER  "@PROJECT_VERSION@"
#define PROJECT_OS "@OS_TYPE@"
#define PROJECT_BUILD_TYPE "@CMAKE_BUILD_TYPE@"
#define PROJECT_BUILD_TOOL "@CMAKE_CXX_COMPILER_ID@"
#define PROJECT_BUILD_VERSION "@CMAKE_CXX_COMPILER_VERSION@"
#define PROJECT_VER_MAJOR @PROJECT_VERSION_MAJOR@
#define PROJECT_VER_MINOR @PROJECT_VERSION_MINOR@
#define PROJECT_VER_PATCH @PROJECT_VERSION_PATCH@

#cmakedefine01 REMAFIA_CENTER_WINDOW
#cmakedefine01 REMAFIA_OVERRIDE_INIT_CONFIG

#define PROJECT_FULL_VER "@PROJECT_NAME@ v@PROJECT_VERSION_MAJOR@.@PROJECT_VERSION_MINOR@.@PROJECT_VERSION_PATCH@ (@OS_TYPE@ - @CMAKE_BUILD_TYPE@ - @CMAKE_CXX_COMPILER_ID@ @CMAKE_CXX_COMPILER_VERSION@)"